@import "~bootstrap/scss/bootstrap";
@import '../node_modules/font-awesome/css/font-awesome.min.css';

body{
  background: aqua;
  width: 100vw;
  height: 100vh;
}
.playground{
  position: fixed;
  top: 64px;
  left: 15vw;
  width: calc(100vw - 15vw);
  height: calc(100vh - 64px);
  .top , .bottom, .left, .right{
    position: absolute;
  }
  .top , .bottom{
    height: 20vh;
    width: calc(100% - 20vh);
    background-color: black;
  }
  .left, .right{
    width: 20vh;
    height: calc(100% - 20vh);
    background-color: rebeccapurple;
  }
  .top{
    left: 0;
    top: 0;
  }
  .left{
    left: 0;
    bottom: 0 ;
  }
  .right{
    right: 0;
    top: 0;
  }
  .bottom{
    bottom: 0;
    right: 0;
  }
  .board{
    width: 100%;
    height: 100%;
    padding: 20vh;
  }

  .play-card{
    width: 50px;
    height: 80px;
    border: solid 2px;
    @media (min-width: 1420px) {
      width: 82px;
      height: 123px;
    }

  }
  .play-card-invert{
    width: 80px;
    height: 50px;
    border: solid 2px;
    @media (min-width: 1420px) {
      width: 123px;
      height: 82px;
    }
  }
  .w-10{
    width: 10%;
  }
  .avatar{
    width: 20vh;
    height: 100%;
    background-color: brown;
    position: relative;
    .deck{
      width: 80px;
      height: 50px;
      border: solid 1px black;
      transform: rotateZ(45deg);
    }
    .info{
      position: absolute;
      width: 0;
      height: 0;
    }
  }
  .avatar-invert{
    height: 20vh;
    width: 100%;
    background-color: brown;
  }
  .cards{
    flex:1;
  }
  .MuiToolbar-root{
    position: fixed;
    top: 0;
    background-color: blue;
    width: calc(100% - 15vw );
    color: white;
  }

}
header{
  z-index: 1300 !important;
}
.MuiDrawer-paper{

  width: 15vw;

}

.room .selected{
  background: #d0cfcf;
}
